.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #1c1c1c;
  font-family: 'Poppins', sans-serif;
}

.login-card {
  display: flex;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  height: 380px;
  width: 780px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.login-left {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.login-left h2 {
  color: #0b6b12;
  font-size: 24px;
  margin-bottom: 10px;
}

.login-left p {
  font-size: 14px;
  margin-bottom: 20px;
  color: #555;
}

.login-left input {
  width: 100%;
  margin-bottom: 12px;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #a8d5a8;
  background: #e7f6e7;
}

.login-left button {
  background: #0b6b12;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 25px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s ease;
}

.login-left button:hover {
  background: #128c1a;
}

.login-right {
  flex: 1;
}

.login-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mensagem {
  margin-top: 10px;
  font-size: 14px;
  color: #0b6b12;
  font-weight: 600;
}